<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="row">
        <a href="/products?catId=6">
        <div class="col-sm-4">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img src="images/coffin.jpg" class="card-image">
                    <div class="card-body">
                        <p class="card-text">Гробы</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
        <a href="/products?catId=5">
        <div class="col-sm-4">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img src="images/gravestone.jpg" class="card-image">
                    <div class="card-body">
                        <p class="card-text">Памятники</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
        <a href="/products?catId=9">
        <div class="col-sm-4">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img src="images/haron.jpg" class="card-image">
                    <div class="card-body">
                        <p class="card-text">Катафалк</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
        <a href="/products?catId=7">
        <div class="col-sm-4">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img src="images/wreath.jpg" class="card-image">
                    <div class="card-body">
                        <p class="card-text">Венки</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
        <a href="/products?catId=8">
        <div class="col-sm-4">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img src="images/fence.jpg" class="card-image">
                    <div class="card-body">
                        <p class="card-text">Ограды</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
        <a href="/products?catId=9">
        <div class="col-sm-4">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img src="images/service.jpg" class="card-image">
                    <div class="card-body">
                        <p class="card-text">Сервис</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <!--  text  -->
    <div >
        <hr>
        <p>Ритуальный магазин <b>«Haron & Co»</b> предлагает широкий спектр ритуальных принадлежностей по доступной стоимости и без дополнительных наценок. Наша основная задача – оперативно предоставить максимум возможностей для решения вопросов, связанных с похоронами и соответствующими церемониями, без задержек и лишних переплат за ритуальные принадлежности.
        </p>
        <p>В ассортименте нашего магазина представлены следующие товары:
        </p>
        <ul>
        <li>гробы;</li>
            <li>искусственные цветы;</li>
            <li>венки;</li>
            <li>памятники из гранита;</li>
            <li>надгробные плиты;</li>
            <li>ритуальные принадлежности и аксессуары;</li>
        </ul>
        <p>Мы готовы взять на себя основные заботы по организации похорон, а также помочь с выбором ритуальных принадлежностей. Специалисты предоставят профессиональную консультацию по вопросам, касающимся проведения обрядов погребения, а также любые ритуальные услуги.
        </p>
        <p>Доступность ценового диапазона объясняется не низким качеством предлагаемой продукции, а многолетним сотрудничеством с производителями товаров для похорон, которые имеют положительную деловую репутацию. Вся продукция нашего интернет-магазина ритуальных товаров подтверждена сертификатами качества. Мы практикуем оптовые и розничные схемы продаж. Наша компания работает как с физическими лицами, так и коммерческими структурами. Крупные оптовые покупатели получают огромные скидки и участвуют в бонусных программах.
        </p>
        <p>Ценовая политика построена таким образом, что любой клиент, обратившийся к нам, сможет подобрать необходимую продукцию в соответствии со своим бюджетом.
        </p>
        <p>Ритуальная продукция, находящаяся в магазине, может отличаться от фотографий на сайте в силу работы разных мастеров и возможной замены одних цветов на другие. Размеры и форма траурного венка не меняется.
        </p>

    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>